/* this is not dry - many repeating properties*/

.cat {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #FFF;

}
.dog {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #000;
}
.dragon {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #009933;
}


/* this is dry - by giving addisional class - 'animal' to all animal elements, and they are sharing some porperties*/

.animal {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #000;
}
.dog {
  color: #000;
}
.dragon {
  color: #009933;
}

